*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# RubyMine 工程
.idea

# 配置文件
*.config
*.yaml
*.filter

# 数据库文件
*.db